<Modal @bind-Visible="@Visible" Animated="true" AnimationDuration="150">
    <ModalContent Size="ModalSize.Default" Centered="true">
        <ModalHeader>
            <ModalTitle>
                <Icon Name="IconName.Add" />
                Add to wish list
            </ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <TextEdit Autofocus Placeholder="Set number" />
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="OnCancelButtonClicked">Cancel</Button>
            <Button Color="Color.Primary">Save Changes</Button>
        </ModalFooter>
    </ModalContent>
</Modal>


@code{
    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public EventCallback<bool> VisibleChanged { get; set; }

    public Task OnCancelButtonClicked()
    {
        Visible = false;
        return VisibleChanged.InvokeAsync(Visible);
    }
}