{{namespaces}}

namespace BricksHoarder.Functions;

public class {{event}}Function : BaseFunction
{
    public {{event}}Function(IMessageReceiver receiver) : base(receiver)
    {
    }

    [Function({{event}}Metadata.Consumer)]
    public async Task Run([ServiceBusTrigger({{event}}Metadata.TopicPath, Default, Connection = ServiceBusConnectionString)] Azure.Messaging.ServiceBus.ServiceBusReceivedMessage @event, CancellationToken cancellationToken)
    {
        {{eventHandler}}
    }
}