namespace BricksHoarder.Events.Metadata;

public static class {{event}}BatchMetadata
{
    public const string Consumer = "{{event}}BatchConsumer";
    public const string TopicPath = "brickshoarder.events/batch/{{event}}";
}