namespace BricksHoarder.Events.Metadata;

public static class {{command}}ConsumedMetadata
{
    public const string Consumer = "{{command}}ConsumedConsumer";
    public const string TopicPath = "brickshoarder.events/consumed/{{command}}";
}