namespace BricksHoarder.Events.Metadata;

public static class {{command}}FaultedMetadata
{
    public const string Consumer = "{{command}}FaultedConsumer";
    public const string TopicPath = "brickshoarder.events/faulted/{{command}}";
}