namespace BricksHoarder.Events.Metadata;

public static class {{event}}Metadata
{
    public const string Consumer = "{{event}}Consumer";
    public const string TopicPath = "brickshoarder.events/{{event}}";
}